<mat-card>
  <mat-card-content>
    <form [formGroup]="finalizecourseFormGroup">
      <div class="row">
        <div class="col-md-2 col-6">
          <ng-select placeholder="Session" formControlName="academic_session_id" appearance="outline">
            <ng-container *ngFor="let server of acadmcSesnList">
              <ng-option [value]="server.academic_session_id">{{ server.academic_session_name_e }}</ng-option>
            </ng-container>
          </ng-select>
        </div>
        <div class="col-md-4 col-6">
          <ng-select placeholder="College" formControlName="college_id" (change)="onCollegeChange($event)"
            appearance="outline">
            <ng-container *ngFor="let server of collegeList">
              <ng-option [value]="server.college_id">{{ server.college_name_e }}</ng-option>
            </ng-container>
          </ng-select>
        </div>

        <div class="col-md-4 col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Degree Programme</mat-label>
            <mat-select placeholder="Degree Programme" formControlName="degree_programme_id"
              (selectionChange)="onDegreeProgrammeChange($event.value)">
              <mat-option *ngFor="let server of degreeProgramme" [value]="server.degree_programme_id">
                {{ server.degree_programme_name_e }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-2 col-6">
          <!-- <ng-select placeholder="Semester" 
                         formControlName="semester_id" 
                         appearance="outline" 
                         (change)="onSemesterChange($event)">
                <ng-option *ngFor="let semester of semesterList" 
                           [value]="semester.semester_id">
                  {{ semester.semester_name_e }}
                </ng-option>
              </ng-select> -->

          <mat-form-field appearance="outline" class="w-100">
            <mat-label>semester_id</mat-label>
            <mat-select placeholder="semester_id" formControlName="semester_id"
              (selectionChange)="onSemesterChange($event.value)">
              <mat-option *ngFor="let semester of semesterList" [value]="semester.semester_id">
                {{ semester.semester_name_e }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <!-- <div class="row mt-3">
                
                  <table class="table    table-bordered">
                    <thead>
                      <tr>
                        <th>Year</th>
                        <th>Dean Committee</th>
                        <th>Batch</th>
                        <th>Get Allotment</th>
                        <th>Print</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of courseYearList">
                        <td>{{ item.Course_Year_Name_E }}</td>
                        <td>{{item.Dean_Commite_Name_E}}</td>
                        <td>I & II</td>
                        <td>
                            <button mat-raised-button color="primary" matTooltip="Show Course" (click)="getDataForPrint(item)"  class="tools mx-auto">Get Allotment</button>
                        </td>
                        <td>
                           <button mat-raised-button color="primary" matTooltip="Print"  class="tools mx-auto"> <mat-icon>print</mat-icon> </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
              </div> -->
      <div class="row mt-3">
        <ng-container class="card-header">Course Allotment</ng-container>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Year</th>
              <th>Dean Committee</th>
              <th>Show Courses </th>
              <td>Finalize Status</td>
              <th>Allotement Status</th>
              <th>Print</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of courseYearList; let i = index">
              <td>{{ item.course_year_name_e }}</td>
              <td>{{item.dean_committee_name_e}}</td>
              <td>
                <div class="btnsection">
                  <button mat-raised-button color="primary" matTooltip="Show Course" (click)="chckFinlize(item)"
                    (click)="getCourse(item)" [disabled]="!item.allotmentStatus" class="tools mx-auto">Show
                    Course</button>
                </div>
              </td>
              <td>
                <!-- <span class="a-btn">
                          <span 
                          [ngClass]="{
                            '': courseYearList[i].finalizeStatus === 'Y',
                            '': courseYearList[i]?.finalizeStatus === 'N'
                          }"
                        >
                          {{ courseYearList[i]?.finalizeStatus === 'Y' ? 'Finalized' : 'Not Finalized' }}
                        </span>
                        </span> -->
                <span>
                  {{ courseYearList[i]?.finalizeStatus === 'Y' ? 'Finalized' : 'Not Finalized' }}
                </span>

              </td>
              <td>
                <span [ngClass]="{
                          'text-danger': !item.allotmentStatus,
                          'text-success': item.allotmentStatus
                        }">
                  {{ item.allotmentStatus ? 'Allotted' : 'Not Allotted' }}
                </span>
              </td>
              <td>
                <button mat-raised-button color="primary" matTooltip="Print" (click)="getCourseFoprint(item)"
                  class="tools mx-auto" [disabled]="!item.allotmentStatus">
                   <mat-icon>save_alt</mat-icon>
                </button>
              </td>
              <td>
                <button class="btn btn-outline-danger btn-sm w-100" (click)="deleteAllotment(item)"
                  matTooltip="Delete Course Year" [disabled]="courseYearList[i]?.finalizeStatus === 'Y'"
                  [disabled]="!item.allotmentStatus">
                  <mat-icon>
                    restore_from_trash
                  </mat-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="row">
        <ng-container class="card-header">Alloted Course</ng-container>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>S.No</th>
              <th>Course</th>
              <th>Course Type</th>
              <th>Course Nature</th>
              <th>Credit</th>
              <th>Allotment Type</th>
              <th>Teachers</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let course of responseData?.courserows; let i = index">
              <tr *ngIf="course.teacherRows && course.teacherRows.length > 0; ">
                <td>{{ i + 1 }}</td>
                <td>{{ course.course_name }}</td>
                <td>{{ course.course_type_name_e }}</td>
                <td>{{ course.course_nature }}</td>
                <td>{{ course.credit }}</td>
                <td>{{ course.cou_allot_type_name_e }}</td>
                <td>
                  <ul class="mb-0">
                    <li *ngFor="let teacher of course.teacherRows">
                      {{ teacher.emp_name }}
                    </li>
                  </ul>
                </td>
                <!-- <td>{{ course.teacherRows[0]?.emp_name || 'Not Allotted' }}</td> -->
                <!-- </tr>
              <tr *ngFor="let teacher of course.teacherRows.slice(1)">
                <td>{{ teacher.emp_name || 'Not Allotted' }}</td>
              </tr> -->
            </ng-container>
            <!--                 
                    <ng-template #noTeacherRow>
                      <tr>
                        <td>{{ i + 1 }}</td>
                        <td>{{ course.course_name }}</td>
                        <td>{{ course.course_type_name_e }}</td>
                        <td>{{ course.course_nature }}</td>
                        <td>{{ course.credit }}</td>
                        <td>{{ course.cou_allot_type_name_e }}</td>
                        <td>Not Allotted</td>
                      </tr>
                    </ng-template> -->
          </tbody>
        </table>

      </div>
      <div class="row">
        <div class="">
          <button *ngIf="isFinalizedStatusbtn  === 'N'" mat-raised-button color="primary" class="btn btn-primary"
            (click)="finlizeCourseAllotment()" [disabled]="finalizecourseFormGroup.invalid">
            Finalize Course
          </button>
        </div>
        <div class="">
          <button *ngIf="isFinalizedStatusbtn  === 'Y'" mat-raised-button color="primary" class="btn btn-primary"
            (click)="unfinalizeCourseAllotment()" [disabled]="finalizecourseFormGroup.invalid">
            Unfinalize Course
          </button>
        </div>
      </div>
      <!-- <div class="row"> 
                <div class="col-md-4">
                    <button *ngIf="isFinalized == true" mat-raised-button color="primary" class="btn btn-primary" click
                      (click)="finlizeCourseAllotment()" [disabled]="finalizecourseFormGroup.invalid">
                        Finalize Course 
                      </button>
                </div>
                <div class="col-md-4">
                    <button *ngIf="isFinalized == true" mat-raised-button color="primary" class="btn btn-primary" click
                      (click)="unfinalizeCourseAllotment()" [disabled]="finalizecourseFormGroup.invalid">
                        Unfinalize Course 
                      </button>
                </div>
              </div> -->
    </form>
  </mat-card-content>
</mat-card>


<mat-card style="display: none;" #print_content>
  <div id="print-section" *ngIf="printDash" style="font-family: Arial, sans-serif; text-align: center;">
    <table class="table table-bordered" #table>
      <thead class="table-light sticky-top">
        <tr>
          <th>Year</th>
          <th>Sem</th>
          <th>Course</th>
          <th>Course Type</th>
          <th>Course Nature</th>
          <th>Credit</th>
          <th>Allotment Type</th>
          <th>Teachers</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let course of print_data">
          <td *ngIf="printDash?.course_year_name_e">{{printDash?.course_year_name_e}}</td>
          <td *ngIf="printDash?.semester">{{printDash?.semester}}</td>
          <td>{{ course.course_name }}</td>
          <td>{{ course.course_type_name_e }}</td>
          <td>{{ course.course_nature }}</td>
          <td>{{ course.credit }}</td>
          <td>{{ course.cou_allot_type_name_e }}</td>
          <td>
            <ul class="mb-0">
              <li *ngFor="let teacher of course.teacherRows">
                {{ teacher.emp_name }}
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</mat-card>