<mat-card>
       <mat-card-header>
        <mat-card-title>Import Data From Fire Eye For Validate and Import</mat-card-title>
    </mat-card-header>
<mat-card-content>
    <form [formGroup]="marksImportFormGroup" (ngSubmit)="onSubmit()">
        <div class="row">
              <input 
    type="file" 
    id="myFile" 
    (change)="onFileSelected($event)"/>
 </div>
  <br>
  <div class="row">
    <div class="col-md-2">
         <button  type="submit" class="btn btn-primary" >Submit</button>
    </div>
    <div class="col-md-7">
        <span class="text-danger"> Please Check all column name in execel must be same in table </span>
    </div>
  </div>
</form>
 </mat-card-content>
</mat-card>


<mat-card class="mt-5">
    <mat-card-content>
        <form [formGroup]="marksEntryFacultyFormGroup">
            <div class="row">
                <div class="col-md-3 col-6">
                    <ng-select placeholder="Session" formControlName="academic_session_id" appearance="outline">
                        <ng-container *ngFor="let server of acadmcSesnList">
                            <ng-option [value]="server.academic_session_id">{{ server.academic_session_name_e
                                }}</ng-option>
                        </ng-container>
                    </ng-select>
                </div>

                <div class="col-md-3 col-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Degree Programme</mat-label>
                        <mat-select placeholder="Degree Programme" formControlName="degree_programme_id"
                            (selectionChange)="onDegreeProgrammeChange($event.value)">
                            <mat-option *ngFor="let server of degreeProgramme" [value]="server.degree_programme_id">
                                {{ server.degree_programme_name_e }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-3 col-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Semester</mat-label>
                        <mat-select placeholder="Semester" formControlName="semester_id">
                            <mat-option *ngFor="let semester of semesterList" [value]="semester.semester_id">
                                {{ semester?.semester_name_e }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-3 col-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Exam Paper Type</mat-label>
                        <mat-select placeholder="Exam Paper Type"
                            (selectionChange)="onExamPaperTypeChange($event.value)">
                            <mat-option *ngFor="let server of getExamPaperTypeList" [value]="server">
                                {{ server.exam_paper_type_name_e }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>
                <div class="col-md-2 ">
                    <button class="btn btn-primary" type="button" (click)="getDashboardData()">Get List</button>
                </div>
            </div>
            <div class="row mt-3">
             
            </div>
        </form>
    </mat-card-content>
</mat-card>

<app-reporttable [options]="optionsCourse">
    <ng-container class="card-header">Courses</ng-container>
    <ng-template #headerTemplate>
        <tr>
            <th>#</th>
            <th>Course Year</th>
            <th>Dean Committee</th>
            <th>Course Count</th>
            <th>Get Imported Data</th>
        </tr>
    </ng-template>
    <ng-template #rowTemplate let-row let-i="index">
        <tr >
            <td>{{ i + 1 }}</td>
            <td>{{ row.course_year_name_e}}</td>
            <td>{{row.dean_committee_name_e}}</td>
            <td>{{ row.course_count }}</td>
            <td><button mat-mini-fab color="primary" (click)="getFireEyeDashboard(row)"><mat-icon>visibility</mat-icon></button></td>
           
        </tr>
    </ng-template>
</app-reporttable>

<mat-card class="mt-5">
  <mat-card-content>
    <h5 class="mt-3 mb-3">Data Came From Fire Eye</h5>

    <table class="table table-bordered table-striped table-hover" *ngIf="dashBoardList?.length">
      <thead class="table-dark text-center">
        <tr>
          <th>Total Rows</th>
          <th>Comparison Status</th>
          <th>Update marks in Exported</th> 
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let item of dashBoardList">
          <td class="text-center">
            {{ item.total_rows }}
          </td>

          <td class="text-center">
            <span
              class="clickable-badge"
              [ngClass]="{
                'matched-badge': item.comparison_status === 'Matched',
                'missing-badge': item.comparison_status === 'Missing',
                'extra-badge': item.comparison_status === 'Extra'
              }"
              (click)="onBadgeClick(item)"
            >
              {{ item.comparison_status }}
            </span>
          </td>

          <td class="text-center">
             <button *ngIf="item.comparison_status === 'Matched'" class="" type="button" (click)="onEditClick(item)"  mat-mini-fab color="primary" > <mat-icon>edit_square</mat-icon> </button>
          </td>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>

<br>
 <button *ngIf="isShowFinalClubButton" (click)="onSave()" class="btn btn-primary">Final Club and Marks Entry </button>

<div class="row mt-3" style="height: 600px; overflow-y: auto;">
<app-reporttable [options]="dashBoardListoptions" style="height: 450px; overflow-y: auto;" >
    <ng-container class="card-header">Validated Data from Fire Eye</ng-container>
    <ng-template #headerTemplate>
        <tr>
            <th>#</th>
            <th>ue_id</th>
            <th>academic_session_id</th>
            <th>college_id</th>
            <th>degree_programme_id</th>
            <th>dean_committee_id</th>
            <th>student_course_year_id</th>
            <th>student_semester_id</th>
            <th>registration_status_id</th>
            <th>course_registration_type_id</th>
            <th>course_id</th>
            <th>course_year_id</th>
            <th>course_semester_id</th>
            <th>course_nature_id</th>
            <th>exam_paper_type_id</th>
            <th>obtained_mark</th>
            <th>remark_id</th>
            <th>special_remark_id</th>
            <th>registration_id</th>
            <th>answerbook_no</th>
            <th>export_batch_id</th>
            <th>action_date</th>
        </tr>
    </ng-template>
    <ng-template #rowTemplate let-row let-i="index">
        <tr >
            <td>{{ i + 1 }}</td>
            <td>{{ row.ue_id}}</td>
            <td>{{ row.academic_session_id }}</td>
            <td>{{row.college_id}}</td>
            <td>{{row.degree_programme_id}}</td>
            <td>{{row.dean_committee_id}}</td>
            <td>{{row.student_course_year_id}}</td>
            <td>{{row.student_semester_id}}</td>
            <td>{{row.registration_status_id}}</td>
            <td>{{row.course_registration_type_id}}</td>
            <td>{{row.course_id}}</td>
            <td>{{row.course_year_id}}</td>
            <td>{{row.course_semester_id}}</td>
            <td>{{row.course_nature_id}}</td>
            <td>{{row.exam_paper_type_id}}</td>
            <td>{{row.obtained_mark}}</td>
            <td>{{row.remark_id}}</td>
            <td>{{row.special_remark_id}}</td>
            <td>{{row.registration_id}}</td>
            <td>{{row.answerbook_no}}</td>
            <td>{{row.export_batch_id}}</td>
            <td>{{row.action_date}}</td>
           
        </tr>
    </ng-template>
</app-reporttable>
</div>









