<mat-card class="h-100">
  <mat-card-content>
    <div style="display: flex;justify-content: center;flex-direction: column;height: 100%;width: 70%;"
         class="mx-auto auth_c">
      <div class="auth-page__group">
        <div class="col-md-12 text-center">
          <img class="auth-page__logo_main-img" src="igkv_logo.png" alt="logo" width="30%">
        </div>
        <h4 class="auth-page__group-title" style="font-size: 18px;line-height: 1.5">
          <b>IGKV USER LOGIN</b>
        </h4>
        <div class="auth-page__border-wrapper">
          <div class="auth-page__border-line"></div>
          <p class="auth-page__border-title">***</p>
          <div class="auth-page__border-line"></div>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <mat-form-field appearance="outline" class="mb-4 form__input w-100">
            <mat-label>यूजर आई. डी.</mat-label>
            <input matInput placeholder="यूजर आई. डी." name="user_id" formControlName="user_id" autocomplete="off">
          </mat-form-field>
          <mat-form-field appearance="outline" class="mb-4 form__input w-100">
            <mat-label>पासवर्ड</mat-label>
            <input matInput formControlName="password" type="password" matTooltip="Password" autocomplete="off">
          </mat-form-field>
          <div class="form__input card p-2 mb-4">
            <div class="row mb-2">
              <div class="col-md-2 col-sm-2 col-lg-2 col-xl-2 p-2">
                <a style="cursor: pointer;" (click)="getCaptcha()" tabindex="-1">
                  <mat-icon>refresh</mat-icon>
                </a>
              </div>
              <div class="col-md-10 col-sm-8 col-lg-8 col-xl-8 pl-4">
                <span #captchaContainer></span>
              </div>
            </div>
            <mat-form-field class="form__input" appearance="outline">
              <mat-label>Captcha</mat-label>
              <input matInput formControlName="captcha" autocomplete="off" type="text" maxlength="6"
                     placeholder="Captcha"/>
            </mat-form-field>
          </div>
          <div class="form-actions">
            <button class="form-actions__login col-12" mat-raised-button color="primary" type="submit">
              USER LOGIN
            </button>
            <button mat-button style="color: blue;" [routerLink]="['/user/forgot/']">Forgot Password?</button>
          </div>
        </form>

      </div>
      <p class="auth-page__footer-title text-center m-2">
        <strong>Disclaimer</strong>
        <br/>©2024-{{ todayDate | date: 'y' }} | Govt. of Chhattisgarh
        <br/>Designed, Developed And Hosted By <a href="https://chhattisgarh.nic.in/"> National Informatics Centre,
        Chhattisgarh.</a>
      </p>
    </div>
  </mat-card-content>
</mat-card>
