<mat-card>
  <mat-card-header>
    <mat-card-title class="page-title">Generate UIDN</mat-card-title>
  </mat-card-header>
  
  <mat-card-content>
    <form [formGroup]="generateUIDNFormGroup">
      <div class="row">
        <div class="col-md-2 col-6">
          <ng-select placeholder="Session" formControlName="academic_session_id" appearance="outline">
            <ng-container *ngFor="let server of acadmcSesnList">
              <ng-option [value]="server.academic_session_id">{{ server.academic_session_name_e }}</ng-option>
            </ng-container>
          </ng-select>
        </div>
        <div class="col-md-5 col-6">
          <ng-select placeholder="College" formControlName="college_id" (change)="onCollegeChange($event)"
            appearance="outline">
            <ng-container *ngFor="let server of collegeList">
              <ng-option [value]="server.college_id">{{ server.college_name_e }}</ng-option>
            </ng-container>
          </ng-select>
        </div>
        <div class="col-md-3 col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Degree</mat-label>
            <mat-select placeholder="Degree" (selectionChange)="onDegreeChange($event.value)">
              <mat-option *ngFor="let server of degreeList" [value]="server.degree_id">
                {{ server.degree_name_e }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-2 mt-2">
          <button class="btn btn-primary" (click)="getStudentList()">Get List</button>
        </div>
      </div>
      <div class="row" *ngIf="this.studentList?.length > 0">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>SNO.</th>
              <th>
                <input type="checkbox" [checked]="selectAll" (change)="toggleSelectAll($event)" />
              </th>
              <th>Admission / Registration No.</th>
              <th>Student Name</th>
              <th>Overall Rank</th>
              <th>Admitted Category</th>
              <th>Fee Status</th>
              <th>Entrance Exam</th>
              <th>Document</th>
            </tr>
          </thead>
          <tbody *ngIf="students && students.length > 0" formArrayName="students">
            <tr *ngFor="let row of students.controls; let i = index" [formGroupName]="i">
              <td>{{i+1}}</td>

              <td>
                <input type="checkbox" formControlName="selected" (change)="onRowCheckboxChange()">
              </td>

              <td>{{row.value.admission_id}} / {{row.value.Reg_No}}</td>
              <td>{{row.value.student_name}}</td>
              <td>{{row.value.overall_rank}}</td>
              <td>{{row.value.Admitted_Category}}</td>
              <td>{{row.value.Fee_Status}}</td>
              <td>{{row.value.entrance_exam_type_name}}</td>
              <td>
                <button mat-mini-fab color="primary" (click)="getUploadedDocument(row)">
                  <mat-icon>document_scanner</mat-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row" *ngIf="this.studentList?.length > 0">
        <div class="col-md-3 mt-4">
          <button class="btn btn-success" type="button" (click)="submitSelected()">Generate UIDN</button>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>