<div class="auth-page">
  <div class="auth-page__logo">
    <div class="auth-page__logo-wrapper">
      <div class="video-background-container">
        <video autoplay muted loop id="background-video">
          <source src="https://igkv.ac.in/images/AngWeb/Video/intro_Video.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
        <div class="col-md-12" style="position:absolute;bottom: 20px">
          <h1 class="text-white h1 text-center">
            <strong>इंदिरा गांधी कृषि विश्वविद्यालय, रायपुर</strong>
          </h1>
        </div>
      </div>
    </div>
  </div>
  <div class="auth-page__content-block">
    <div class="auth-page__content-wrapper">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
