<mat-card class="">
    <mat-card-content>
        <h3 class="fw-bolder mb-6 page-title">Student Password Reset</h3>

        <form [formGroup]="passwordResetReportForm">
            <div class="row">

                <div class="col-md-6 col-12">
                    <ng-select placeholder="College Name" formControlName="college_id" appearance="outline">
                        <ng-option *ngFor="let college of state.collegeList" [value]="college.college_id">
                            {{ college.college_name_e }}
                        </ng-option>
                    </ng-select>
                </div>

                <div class="col-md-4 col-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Session</mat-label>
                        <mat-select placeholder="Session" formControlName="academic_session_id">
                            <mat-option *ngFor="let session of state.academicSessionList"
                                [value]="session.academic_session_id">
                                {{ session.academic_session_name_e }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-md-2 col-12 mt-md-3 d-flex justify-content-end">
                    <button mat-raised-button color="primary" type="button" (click)="getReport_Btn_click()">
                        Get Details
                    </button>
                </div>

            </div>
        </form>
    </mat-card-content>
</mat-card>




<div *ngIf="studentsListOptions.dataSource.length > 0" class="mt-3 mb-3">
    <app-reporttable [options]="studentsListOptions">
        <ng-template #headerTemplate>
            <tr>
                <th>S.No.</th>
                <th>Student Id</th>
                <th>Name</th>
                <th class="d-print-none">Generate</th>
            </tr>
        </ng-template>
        <ng-template #rowTemplate let-row let-i="index">
            <tr>
                <td [ngClass]="row.ue_id === selectedStudentId ? 'bg-green' : ''">{{i+1}}</td>
                <td [ngClass]="row.ue_id === selectedStudentId ? 'bg-green' : ''">{{ row.ue_id }}</td>
                <td [ngClass]="row.ue_id === selectedStudentId ? 'bg-green' : ''">{{ row.student_name }}
                </td>
                <td class="d-print-none cursor-pointer" [ngClass]="row.ue_id === selectedStudentId ? 'bg-green' : ''">
                    <!-- <mat-icon (click)="onResetPassword(row)" class="text-danger">
                        lock
                    </mat-icon> -->
                    <mat-icon *ngIf="!new_passwords[row.ue_id]" (click)="onResetPassword(row)" class="text-danger">
                        lock
                    </mat-icon>

                    <span *ngIf="new_passwords[row.ue_id]" class="d-flex align-items-center justify-content-center">
                        <span style="margin-right: 10px;">
                            <mat-icon class="text-success">lock_open</mat-icon>
                        </span>
                        <span>
                            {{ new_passwords[row.ue_id] }}
                        </span>
                    </span>

                </td>
            </tr>
        </ng-template>
    </app-reporttable>
</div>