<mat-card>
    <mat-card-content>
        <h3 class="fw-bold mb-6 page-title">Student Basic Details Change Request</h3>
        <div *ngIf="dashboardListOptions?.dataSource?.length > 0" class="mt-3 mb-3">
            <app-reporttable [options]="dashboardListOptions">
                <ng-template #headerTemplate>
                    <tr>
                        <th>S.No.</th>
                        <th>Degree Programme</th>
                        <th>Total</th>
                        <th>Correction Pending</th>
                        <th>Correction Done</th>
                        <th>Rejected</th>
                    </tr>
                </ng-template>
                <ng-template #rowTemplate let-row let-i="index">
                    <tr>
                        <td>{{i+1}}</td>
                        <td>{{ row.degree_programme_type_name_e }}</td>
                        <td>
                            {{ row.total }}
                        </td>
                        <td
                            [ngClass]="{'bg-green': 'pending' === actionType && selectedRowId === row.degree_programme_type_id}">
                            <span class="click-row" (click)="getStudentListForBasicDetailsChangeData(row, 'pending')">
                                <span class="click-row-btn bg-primary">{{ row.pending }}</span>
                                click
                            </span>
                        </td>
                        <td
                            [ngClass]="{'bg-green': 'done' === actionType && selectedRowId === row.degree_programme_type_id}">
                            <span class="click-row" (click)="getStudentListForBasicDetailsChangeData(row, 'done')">
                                <span class="click-row-btn bg-success">{{ row.done }}</span>
                                click
                            </span>
                        </td>
                        <td
                            [ngClass]="{'bg-green': 'rejected' === actionType && selectedRowId === row.degree_programme_type_id}">
                            <span class="click-row" (click)="getStudentListForBasicDetailsChangeData(row, 'rejected')">
                                <span class="click-row-btn bg-secondary">{{ row.rejected }}</span>
                                click
                            </span>
                        </td>
                    </tr>
                </ng-template>
            </app-reporttable>
        </div>

        <div *ngIf="studentsListOptions?.dataSource?.length > 0" class="mt-3 mb-3">
            <app-reporttable [options]="studentsListOptions">
                <ng-template #headerTemplate>
                    <tr>
                        <th>S.No.</th>
                        <th>UE Id</th>
                        <th>Student Id</th>
                        <th>Student Name</th>
                        <th>College</th>
                        <th>Degree Programme</th>
                        <th>Year /Semester</th>
                        <th>Correction Applied Date</th>
                        <th>Address Proof</th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template #rowTemplate let-row let-i="index">
                    <tr>
                        <td [ngClass]="{'bg-green': row.ue_id === selectedStudentUEId}">{{i+1}}</td>
                        <td [ngClass]="{'bg-green': row.ue_id === selectedStudentUEId}">{{ row.ue_id }}</td>
                        <td [ngClass]="{'bg-green': row.ue_id === selectedStudentUEId}">{{ row.student_id }}</td>
                        <td [ngClass]="{'bg-green': row.ue_id === selectedStudentUEId}">
                            {{row.studentname?.toUpperCase()}}</td>
                        <td [ngClass]="{'bg-green': row.ue_id === selectedStudentUEId}">{{row.college_name_e}}</td>
                        <td [ngClass]="{'bg-green': row.ue_id === selectedStudentUEId}">{{row.degree_programme_name_e}}
                        </td>
                        <td [ngClass]="{'bg-green': row.ue_id === selectedStudentUEId}">
                            {{row.course_year_name_e}} /{{row.semester_name_e}}</td>
                        <td [ngClass]="{'bg-green': row.ue_id === selectedStudentUEId}">{{row.correction_applied_date |
                            date:'dd/MM/yyyy'}}</td>
                        <td [ngClass]="{'bg-green': row.ue_id === selectedStudentUEId}">
                            <a href="{{file_prefix + row.address_proof}}" target="_blank" class="view-proof">
                                <mat-icon class="text-danger">picture_as_pdf</mat-icon>
                                View Proof
                            </a>
                        </td>
                        <td [ngClass]="{'bg-green': row.ue_id === selectedStudentUEId}">
                            <span class="text-info cursor-pointer"
                                (click)="getStudentChangesDetailsData(row)">Select</span>
                        </td>
                    </tr>
                </ng-template>
            </app-reporttable>
        </div>

    </mat-card-content>
</mat-card>