<section class="container-fluid">
  <form>
    <!-- ^ student details -->
    <mat-card class="basic-details-card">
      <mat-card-content>
        <div class="card-header-custom">
          <mat-card-title>Course Registration</mat-card-title>
        </div>
        <div *ngIf="studentData">
          <div class="row std-details">
            <div class="col-md-4 col-6">
              <div class="detail-item">
                <label class="detail-label">UE ID & Name::</label>
                <div class="detail-value">{{ studentData?.ue_id }} , {{studentData?.student_name}}</div>
              </div>
            </div>
            <div class="col-md-4 col-6">
              <div class="detail-item">
                <label class="detail-label">Dean Committee & Session:</label>
                <div class="detail-value">{{ studentData?.dean_committee_name_e }} , {{
                  studentData?.academic_session_name_e}}</div>
              </div>
            </div>
            <div class="col-md-4 col-6">
              <div class="detail-item">
                <label class="detail-label">Year & Semester:</label>
                <div class="detail-value">{{ studentData?.course_year_name_e}} , {{ studentData?.semester_name_e }}
                </div>
              </div>
            </div>
            <div class="col-md-4 col-6">
              <div class="detail-item">
                <label class="detail-label">Academic Standing & Study Status:</label>
                <div class="detail-value">{{studentData?.stu_acad_status_name_e}} ,
                  {{studentData?.stu_study_status_name_e}}</div>
              </div>

            </div>
            <div class="col-md-4 col-6">
              <div class="detail-item">
                <label class="detail-label">College:</label>
                <div class="detail-value">{{ studentData?.college_name_e }}</div>
              </div>

            </div>
            <div class="col-md-4 col-6">

              <div class="detail-item">
                <label class="detail-label">Degree Programme:</label>
                <div class="detail-value">{{ studentData?.degree_programme_name_e }}</div>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

      <!-- ^ course details -->
    <div class="table-responsive mt-3 mb-1" *ngIf="selectedCourses.length > 0">
      <app-reporttable [options]="tableOptions" class="table table-bordered custom-striped">
        <ng-template #headerTemplate>
          <tr>
            <th>S.No.</th>
            <th>Course Title</th>
            <th>Teachers</th>
            <th>Type</th>
            <th>Credit</th>
            <th>C/O</th>
            <th>Remove</th>
          </tr>
        </ng-template>
        <ng-template #rowTemplate let-row let-i="index">
          <tr [class.highlighted-row]="!isFailedCourse(row) "
            [class.failed-course-row]="isFailedCourse(row) || row?.course_registration_type_id == 2">
            <td>{{i+1}}</td>
            <td>{{ row?.course_name }}</td>
            <td>{{ row?.emp_names }}</td>
            <td>{{ row?.course_type_name_e }}</td>
            <td>{{ row?.credit }}</td>
            <td> {{ row?.cou_allot_type_name_e === 'Complusory' ? 'C' : (row?.cou_allot_type_name_e ===
              'Optional' ? 'O' : '') }}</td>
            <td>
              <button type="button" color="danger" class="btn-remove" [class.failed-course-remove]="isFailedCourse(row)"
                [disabled]="isFailedCourse(row)  || (row.cou_allot_type_name_e === 'Complusory' && row?.other_department !== true) "
                (click)="onCourseRemove(row.course_id,row.course_nature_id)"
                [title]="isFailedCourse(row) ? 'Failed courses are mandatory and cannot be removed' : 'Remove Course'">
                <mat-icon>{{ isFailedCourse(row) ? 'lock' : 'close' }}</mat-icon>
              </button>
            </td>
          </tr>
        </ng-template>
      </app-reporttable>
    </div>
    <mat-card >
      <mat-card-content class="pt-0">
        <div class="course-list">
          <div class="col-md-12 section">
            <div class="course-legend mt-3">
              <ul style="list-style: none; padding: 0; margin: 0;">
                <li class="legend-item d-flex align-items-center">
                  <span class="legend-color normal-course mr-2"></span>
                  Normal Courses
                </li>
                <li class="legend-item d-flex align-items-center mt-2">
                  <span class="legend-color failed-course mr-2"></span>
                  Failed Courses (Auto-selected)
                </li>
              </ul>
            </div>

          </div>

          <div *ngIf="otherCourseFromAllotment.length > 0">
            <div class="col-6 mt-5">
              <h5> <strong>Add More Courses</strong></h5>
            </div>

            <div class="row">

              <div class="col-md-6 col-8">
                <ng-select #courseSelect [items]="otherCourseFromAllotment" bindLabel="course_name" appearance="outline"
                  (change)="onCourseSelect($event)">
                </ng-select>
              </div>

              <div class="col-md-2 col-2" *ngIf="onSelectDropCourse">
                <button (click)="onCourseAdd(courseSelect)" mat-raised-button color="primary" type="button">Add</button>
              </div>
            </div>
          </div>
          <hr />

        </div>
        <div class="col-sm-3">
          @if (studentData?.registration_status_id == 2) {
          <button type="button" (click)="onSubmit()" class="btn btn-primary btn-sm">Register courses</button>
          } @else {
          <button type="button" (click)="onUpdate()" class="btn btn-primary btn-sm">Update courses</button>
          }
        </div>
      </mat-card-content>
    </mat-card>

  
  </form>
</section>