
// * highlighted-row
.highlighted-row {
  background-color: #f0f8ff !important;
  transition: background-color 0.3s ease;
  border: 1px solid #e3f2fd;
}

.highlighted-row:hover {
  background-color: #e3f2fd !important;
  box-shadow: 0 2px 4px rgba(33, 150, 243, 0.1);
}

.failed-course-row {
  background-color: #ffebee !important;
  border: 1px solid #dddbdb !important;
  // border-left: 4px solid #f44336 !important;
  transition: background-color 0.3s ease;
  box-shadow: 0 1px 3px rgba(244, 67, 54, 0.1);

  td {
    background-color: rgb(255, 225, 225);
  }
}

.failed-course-row:hover {
  background-color: #ffcdd2 !important;
  box-shadow: 0 2px 4px rgba(244, 67, 54, 0.15);
}


// * button
.btn-remove {
  border: none;
  padding: 0;
  border-radius: 4px;
  cursor: pointer;
  font-size: 8px;
  display: inline-flex;
  align-items: center;
  background: #e11c1c;
  transition: all 0.3s ease;
  color: white;
}

.btn-remove:hover {
  background: #d32fa2;
}

.btn-remove:disabled {
  background-color: #f5f5f5 !important;
  border-color: #e0e0e0 !important;
  color: #9e9e9e !important;
  cursor: not-allowed !important;
  opacity: 0.6;
}


.btn-remove.failed-course-remove {
  background-color: #ffcdd2;
  border-color: #f44336;
  color: #c62828;
}

.btn-remove.failed-course-remove:hover:not(:disabled) {
  background-color: #f44336;
  color: white;
}

.btn-remove.failed-course-remove:disabled {
  background-color: #cad1d3 !important;
  border-color: #d71731 !important;
  color: #d21c1c !important;
}



// * showing color information
.course-legend {
  padding: 5px;
  background-color: #dde9f1;
  border-radius: 6px;
  border: 1px solid #17191a;

  ul {
    display: flex;
    align-items: flex-end;

    li {
      padding-left: 0.5em;
    }
  }


  .legend-item {
    display: inline-flex;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
    color: #333;
  }

  .legend-color {
    display: inline-block;
    width: 20px;
    height: 16px;
    border-radius: 4px;
    margin-right: 8px;
    border: 1px solid #dbcbcb;
  }

  .legend-color.normal-course {
    background-color: #ced9e1;
    border-color: #e3f2fd;
  }

  .legend-color.failed-course {
    background-color: rgb(255, 225, 225);
    border-color: #f88590;
  }


}

// * Responsive Design
@media (max-width: 768px) {
  .course-legend {
    text-align: center;
  }

  .legend-item {
    display: block;
    margin-bottom: 5px;
  }

  .course-legend {
    padding: 0.5em;

    ul {
      display: inline;
      align-items: flex-end;

      li {
        padding-left: 0em;
      }
    }
  }

  .ml-3 {
    margin-left: 0 !important;
  }

}

