<div class="d-flex align-items-center justify-content-center" style="height: 85vh">
  <div class="text-center">
    <h1 class="display-1 fw-bold" style="margin-bottom: -95px"><b>404</b></h1>
    <img style="mix-blend-mode: multiply" class="img-fluid"
         src="https://cdn.svgator.com/images/2024/04/electrocuted-caveman-animation-404-error-page.gif" alt="Page">
    <div style="margin-top: -70px">
      <p class="fs-3"><span class="text-danger">Opps!</span> Page not found.</p>
      <p class="lead" style="">
        The page you’re looking for doesn’t exist or you don't have access. <br>
        <span *ngIf="user.designation_arr.length > 1"><b>Please check your designation</b></span>
      </p>
    </div>
  </div>
</div>
