// .header {
//   justify-content: space-between;
//   align-items: center;
//   padding: 15px 30px;
//   border-radius: 5px;
//   background-color: #2c3e50;
//   color: white;
//   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
//   margin-bottom: 15px;
// }

.text-danger {
  color: #fe6f6f;
  font-weight: bold;
  font-size: 14px;
}

.course_name {
  text-align: left !important;
}

::ng-deep .ng-select.is-invalid .ng-select-container {
  border-color: #dc3545 !important;   /* red border */
  box-shadow: none;
}


.page-title {
    color: rgb(3, 101, 69);
    font-weight: bolder;
}

