.text-danger {
  color: #fe6f6f;
  font-weight: bold;
  font-size: 14px;
}

.course_name {
  text-align: left !important;
}

::ng-deep .ng-select.is-invalid .ng-select-container {
  border-color: #dc3545 !important;
  /* red border */
  box-shadow: none;
}


.page-title {
  color: rgb(3, 101, 69);
  font-weight: bolder;
}

td {
  text-align: left !important;
}


.text-start {
  text-align: left !important;
}