<mat-card class="mt-3">
    <form [formGroup]="regUnFinalizeFormGroup">
    <mat-card-content>
      <div class="card-header-custom">
        <mat-card-title>Registration Unfinalize</mat-card-title>
        </div>
        <div class="row">
              <div class="col-md-2 col-6">
            <ng-select placeholder="Session" formControlName="academic_session_id" appearance="outline" >
              <ng-container *ngFor="let server of acadmcSesnList">
                <ng-option [value]="server.academic_session_id">{{ server.academic_session_name_e }}</ng-option>
              </ng-container>
            </ng-select>
          </div>
          <div class="col-md-5 col-6">
            <ng-select placeholder="College" formControlName="college_id" (change)="onCollegeChange($event)" appearance="outline" >
              <ng-container *ngFor="let server of collegeList">
                <ng-option [value]="server.college_id">{{ server.college_name_e }}</ng-option>
              </ng-container>
            </ng-select>
          </div>
             <div class="col-md-5 col-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Degree Programme</mat-label>
              <mat-select placeholder="Degree Programme" formControlName="degree_programme_id" >
                <mat-option *ngFor="let server of degreeProgramme" [value]="server.degree_programme_id">
                  {{ server.degree_programme_name_e }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
           <div class="col-md-4 col-6">
                <mat-form-field appearance="outline" class="w-100">
                <mat-label>Year</mat-label>
                <mat-select placeholder="Year" formControlName="course_year_id" >
                  <mat-option *ngFor="let item of courseYearList" 
                           [value]="item.course_year_id">
                    {{ item.course_year_name_e}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
          </div>
          <div class="col-md-4 col-6">
                <mat-form-field appearance="outline" class="w-100">
                <mat-label>Semester</mat-label>
                <mat-select placeholder="Semester" formControlName="semester_id" >
                  <mat-option *ngFor="let semester of semesterList" 
                           [value]="semester.semester_id">
                    {{ semester.semester_name_e }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
          </div>
           <div class="col-md-4 col-6">
                <mat-form-field appearance="outline" class="w-100">
                <mat-label>Dean Committee</mat-label>
                <mat-select placeholder="Dean Committee" formControlName="dean_committee_id" >
                  <mat-option *ngFor="let item of getDeanCommiteeList" 
                           [value]="item.dean_committee_id">
                    {{ item.dean_committee_name_e }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
          </div>
        </div>
        <div class="row mt-2">
        <div class="col-12 text-start">
          <button mat-raised-button color="primary" type="button"
                  (click)="getStudentList()" 
                  [disabled]="!regUnFinalizeFormGroup.valid">
            Get Student List
          </button>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Student Id</th>
                        <th>Registration Id</th>
                        <th>Student Name</th>
                        <th>Course Year</th>
                        <th>Semester</th>
                        <th>Finalize Status</th>
                        <th>Unfinalize</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of getStudentListforUnFinlz; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{item.student_id}}</td>
                        <td>{{item.registration_id}}</td>
                        <td>{{item.student_name}}</td>
                        <td>{{item.course_year_name_e}}</td>
                        <td>{{item.semester_name_e}}</td>
                        <td>
                            <ng-container *ngIf="item.is_finalize_yn === 'Y'">
                                Finalized
                            </ng-container>
                            <ng-container *ngIf="item.is_finalize_yn === 'N'">
                                Not Finalized
                            </ng-container>
                        </td>
                        <td><button mat-raised-button color="warn" (click)="unFinalizeReg(item)" [disabled]="item.is_finalize_yn === 'N'">
                            <mat-icon >arrow_back</mat-icon>
                        </button></td>
                    </tr>
                </tbody>
            </table>
        </div>
      </div>
    </mat-card-content>
 </form>
</mat-card>