<mat-card>
  <mat-card-content>

    <div class="page-heading text-center py-2">
      <h3 class="m-0 text-white fw-bold">Transfer Applied List</h3>
    </div>

    <hr />

    <form [formGroup]="transappliedFormGroup" *ngIf="isListData">
      <div class="row">
        <div class="col-md-4 col-6">
          <ng-select [items]="acadmcSession" bindLabel="academic_session_name_e" bindValue="academic_session_id"
            (change)="onAcademicChange($event)" formControlName="academic_session" appearance="outline"
            placeholder="Applied Academic Session">
          </ng-select>
        </div>

        <div class="col-md-4 col-6">
          <ng-select [items]="degreeProgramme" bindLabel="degree_programme_name_e" bindValue="degree_programme_id"
            formControlName="degree_programme" appearance="outline" placeholder="Degree Programme">
          </ng-select>
        </div>

        <div class="col-md-4 col-6">
          <ng-select [items]="college" bindLabel="college_name_e" bindValue="college_id" formControlName="college"
            appearance="outline" placeholder="College">
          </ng-select>
        </div>

      </div>
    </form>


    <!-- <div class="row" *ngIf="isUe_idData && isListData">
      <div class="col text-end">
        <button type="button" class="btn btn-info btn-sm  fw-bolder fs-5" (click)="getStudentByUE_ID()">
          Get Student By University ID
        </button>
      </div>
    </div> -->




    <div class="row" *ngIf="!isListData">
      <div class="row d-flex align-items-baseline">
        <div class="col-md-4 col-6">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>UE ID</mat-label>
            <input matInput #ueIdInput type="number">
          </mat-form-field>
        </div>

        <div class="col-md-5 col-2">
          <button class="btn btn-primary btn-sm fw-bolder fs-6"
            (click)="getAppliedListTransferCertificate('N',+ueIdInput.value)">
            Search
          </button>
        </div>
        <div class="col-md-3 col-3">
          <button type="button" class="btn btn-link fw-bolder fs-5" style="text-decoration: underline;" (click)="getStudentByList()">
          👉  Get Student By List
          </button>
        </div>
      </div>

    </div>
    <div>
      <div class="row">
        <div class="mt-2 text-end">
          <button *ngIf="isListData" type="button" class="btn btn-link fw-bolder fs-5 p-0" style="text-decoration: underline;" (click)="getStudentByUE_ID()">
         👉 Get Student By University ID
          </button>
          <button *ngIf="transappliedFormGroup.valid && isListData" type="button"
            class="btn btn-success btn-sm text-dark fw-bolder fs-5 ms-5 me-5" (click)="getAppliedListTransferCertificate('Y')">
            Generated Transfer Certificate
          </button>
          <button *ngIf="transappliedFormGroup.valid && isListData" type="button"
            class="btn btn-success btn-sm text-dark fw-bolder fs-5" (click)="getAppliedListTransferCertificate('N')">
            Show List of Students
          </button>
        </div>
      </div>
    </div>


  </mat-card-content>
</mat-card>

<!-- ✅ TABLE (NO formGroup HERE ✅) -->
<div class="table-responsive mt-3" *ngIf="student_list.length > 0">

  <app-reporttable [options]="tableOptions" class="table table-bordered custom-striped">

    <ng-template #headerTemplate>
      <tr>
        <th>S.No.</th>
        <th>Select</th>
        <th>Student ID</th>
        <th>Student Name</th>
        <th>Father Name</th>
        <th>Degree Completed Status</th>
        <th>Behavior</th>
        <th>Remarks</th>
        <th></th>
      </tr>
    </ng-template>

    <ng-template #rowTemplate let-row let-i="index">
      <tr>

        <td>{{ i + 1 }}</td>
        <td>
          <div>
            <mat-checkbox class="success-checkbox" [(ngModel)]="row.isChecked" [disabled]="!row.isUpdated"
              (change)="onRowCheck(row, $event)">
            </mat-checkbox>
          </div>
        </td>
        <td>{{ row.student_id }}</td>
        <td>{{ row.student_name }}</td>
        <td>{{ row.father_name }}</td>

        <td [ngClass]="{ 'text-danger': row.stu_acad_status_id !== 5 }">
          {{ row.stu_acad_status_id === 5 ? 'Completed' : 'Not Completed' }}
        </td>
        <ng-container *ngIf="showApplied">
        <td>
          <select [(ngModel)]="row.behavior" [disabled]="!row.isEditing" class="custom-select-style">
            <option *ngFor="let item of behavior" [value]="item.behavior_id">
              {{ item.behavior_name }}
            </option>
          </select>
        <td> <input type="text" [(ngModel)]="row.remark" [disabled]="!row.isEditing" class="custom-select-style" /></td>
        <td>
          <button *ngIf="!row.isEditing" class="btn btn-success btn-sm text-dark fw-bolder fs-6"
            (click)="enableEdit(row)">
            Update
          </button>

          <button *ngIf="row.isEditing" class="btn btn-primary btn-sm fw-bolder fs-6"
            (click)="updateRemarkBehavior(row)">
            Submit
          </button>
        </td>
        </ng-container>

      </tr>
    </ng-template>

  </app-reporttable>

  <div class="d-flex mt-3 justify-content-center" *ngIf="hasAtLeastOneChecked()">
    <button type="button" (click)="approved_generate()" class="btn btn-primary btn-sm">Approve and Generate</button>
  </div>
</div>

<div *ngIf="isListLoaded && student_list.length === 0" class="alert alert-warning text-center mt-3">
  No data found.
</div>