@media print {
  .d-print-none {
    display: none !important;
  }

  mat-card {
    box-shadow: none !important;
    border: none;
  }

  table {
    page-break-inside: auto;
  }

  tr {
    page-break-inside: avoid;
    page-break-after: auto;
  }


  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.5rem;
    /* optional tweak */
  }

  .col,
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12 {
    flex: 1 0 0%;
    max-width: 100%;
    padding: 0.5rem;
  }

  .m-md-2,
  .m-1 {
    margin: 0.5rem !important;
  }
}