$primary_text: #000  !important;
// $primary_background: #000 !important;
// $footer_background: red !important;

$primary_background: rgb(8, 170, 146) !important;
$footer_background: rgb(108, 103, 136) !important;
