<mat-card>
    <mat-card-content>
    <div class="card-header-custom">
      <mat-card-title>Basic Detail</mat-card-title>
     </div>
        <div class="row">
            <div class="col-md-12">
                <div class="correct">
                    <button mat-stroked-button color="primary">
                        <mat-icon>settings_b_roll</mat-icon> Currection Requaired
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label for="studentName" class="form-label">Student Name</label>
                            <input type="text" class="form-control" id="studentName" placeholder="Enter student name" />
                        </div>

                        <div class="col-md-4 mb-3">
                            <label for="fatherName" class="form-label">Father’s Name</label>
                            <input type="text" class="form-control" id="fatherName" placeholder="Enter father’s name" />
                        </div>

                        <div class="col-md-4 mb-3">
                            <label for="motherName" class="form-label">Mother’s Name</label>
                            <input type="text" class="form-control" id="motherName" placeholder="Enter mother’s name" />
                        </div>

                        <div class="col-md-4 mb-3">
                            <label for="dob" class="form-label">Date of Birth</label>
                            <input type="date" class="form-control" id="dob" />
                        </div>

                        <div class="col-md-4 mb-3">
                            <label for="gender" class="form-label">Gender</label>
                            <select class="form-select" id="gender">
                                <option selected disabled>Choose...</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>

                        <div class="col-md-4 mb-3">
                            <label for="category" class="form-label">Basic Category</label>
                            <select class="form-select" id="category">
                                <option selected disabled>Choose...</option>
                                <option value="General">General</option>
                                <option value="OBC">OBC</option>
                                <option value="SC">SC</option>
                                <option value="ST">ST</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="col-md-4 text-center mb-3">
                        <div class="img-container">
                            <img src="dummy.jpg" alt="Profile" class="profile-img rounded border"
                                style="width: 80px; height: 80px; object-fit: cover" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<mat-card class="mt-3">
    <mat-card-content>
         <div class="card-header-custom">
     <mat-card-title>Admission Details</mat-card-title>
     </div>
        <div class="row">
            <div class="col-md-3 mb-3">
                <label for="Admission_id" class="form-label">Admission Id</label>
                <input type="text" class="form-control" id="Admission_id" placeholder="Admission Id" />
            </div>

            <div class="col-md-3 mb-3">
                <label for="Entrance Type" class="form-label">Entrance Type</label>
                <input type="text" class="form-control" id="Entrance Type" placeholder="Enter Entrance Type" />
            </div>
            <div class="col-md-3 mb-3">
                <label for="Admission Quota" class="form-label">Admission Quota</label>
                <input type="text" class="form-control" id="Admission Quota" />
            </div>
            <div class="col-md-3 mb-3">
                <label for="Faculty" class="form-label">Faculty</label>
                <input type="text" class="form-control" id="Faculty" />
            </div>
            <div class="col-md-3 mb-3">
                <label for="Degree" class="form-label">Degree Programme</label>
                <input type="text" class="form-control" id="Degree" />
            </div>
            <div class="col-md-3 mb-3">
                <label for="Subject" class="form-label">Subject</label>
                <input type="text" class="form-control" id="Subject" />
            </div>
            <div class="col-md-3 mb-3">
                <label for="Category" class="form-label">Category</label>
                <input type="text" class="form-control" id="Category" />
            </div>
            <div class="col-md-3 mb-3">
                <label for="Admitted Class" class="form-label">Admitted Class</label>
                <input type="text" class="form-control" id="Admitted Class" />
            </div>
            <div class="col-md-3 mb-3">
                <label for="Admitted College" class="form-label">Admitted College</label>
                <input type="text" class="form-control" id="Admitted College" />
            </div>
        </div>
    </mat-card-content>
</mat-card>
<mat-card class="mt-3">
    <mat-card-content>
       <div class="card-header-custom">
        <mat-card-title>Academic Details</mat-card-title>
     </div>
        <div class="row">
            <div class="col-md-3 mb-3">
                <label for="Student_Id" class="form-label">Student Id</label>
                <input type="text" class="form-control" id="Student_Id" placeholder="Student Id" />
            </div>

            <div class="col-md-3 mb-3">
                <label for="University Id" class="form-label">University Id</label>
                <input type="text" class="form-control" id="University Id" placeholder="Enter Entrance Type" />
            </div>
            <div class="col-md-3 mb-3">
                <label for="Course Year" class="form-label">Course Year</label>
                <input type="text" class="form-control" id="Course Year" />
            </div>
            <div class="col-md-3 mb-3">
                <label for="Semester" class="form-label">Semester</label>
                <input type="text" class="form-control" id="Semester" />
            </div>
            <div class="col-md-3 mb-3">
                <label for="Academic Status" class="form-label">Academic Status</label>
                <input type="text" class="form-control" id="Academic Status" />
            </div>
            <div class="col-md-3 mb-3">
                <label for="Student Status" class="form-label">Student Status</label>
                <input type="text" class="form-control" id="Student Status" />
            </div>
        </div>
    </mat-card-content>
</mat-card>
<mat-card class="mt-3">
    <mat-card-content>
     <div class="card-header-custom">
        <mat-card-title>Contact Details</mat-card-title>
     </div>
        <div class="row">
            <div class="col-md-12">
                <div class="correct">
                    <button mat-stroked-button color="primary">
                        <mat-icon>settings_b_roll</mat-icon> Edit
                    </button>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="Email" class="form-label">Email</label>
                <input type="text" class="form-control" id="Email" placeholder="Email" />
            </div>

            <div class="col-md-6 mb-3">
                <label for="Mobile No" class="form-label">Mobile No</label>
                <input type="number" class="form-control" id="Mobile No" placeholder="" />
            </div>
        </div>
    </mat-card-content>
</mat-card>

<mat-card class="mt-3">
    <mat-card-content>
      <div class="card-header-custom">
        <mat-card-title>Address Details</mat-card-title>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="correct">
                    <button mat-stroked-button color="primary">
                        <mat-icon>settings_b_roll</mat-icon> Edit
                    </button>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <label for="gender" class="form-label">Parnmanent Country</label>
                <select class="form-select" id="gender">
                    <option selected disabled>Choose...</option>
                </select>
            </div>

            <div class="col-md-3 mb-3">
                <label for="gender" class="form-label">Parnmanent State</label>
                <select class="form-select" id="gender">
                    <option selected disabled>Choose...</option>
                </select>
            </div>
            <div class="col-md-3 mb-3">
                <label for="gender" class="form-label">Parnmanent District</label>
                <select class="form-select" id="gender">
                    <option selected disabled>Choose...</option>
                </select>
            </div>
            <div class="col-md-3 mb-3">
                <label for="Pincode" class="form-label">Parnmanent Pincode</label>
                <input type="number" class="form-control" id="Pincode" />
            </div>
            <div class="col-md-6 mb-3">
                <label for="Address" class="form-label">Parnmanent Address</label>
                <input type="text-aria" class="form-control" id="Address" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 mb-3">
                <label for="gender" class="form-label">Current Country</label>
                <select class="form-select" id="gender">
                    <option selected disabled>Choose...</option>
                </select>
            </div>

            <div class="col-md-3 mb-3">
                <label for="gender" class="form-label">Current State</label>
                <select class="form-select" id="gender">
                    <option selected disabled>Choose...</option>
                </select>
            </div>
            <div class="col-md-3 mb-3">
                <label for="gender" class="form-label">Current District</label>
                <select class="form-select" id="gender">
                    <option selected disabled>Choose...</option>
                </select>
            </div>
            <div class="col-md-3 mb-3">
                <label for="Pincode" class="form-label">Current Pincode</label>
                <input type="number" class="form-control" id="Pincode" />
            </div>
            <div class="col-md-6 mb-3">
                <label for="Address" class="form-label">Current Address</label>
                <input type="text-aria" class="form-control" id="Address" />
            </div>
            <div class="col-md-6 mb-3">
                <label for="Address Proof" class="form-label">Address Proof</label>
                <input type="file" class="form-control" id="Address" />
            </div>
        </div>
    </mat-card-content>
</mat-card>