.profile-img {
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #ccc;
    margin-top: 30px;
    margin-left: 50px;
}
.correct{
    text-align: end;
    // margin-top: -20px;
}

.card-header-custom {
   background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  padding: 2px 16px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: white;
  margin: -16px -16px 16px -16px; /* remove default mat-card padding at top */
}

.card-header-custom mat-card-title {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
}
