<mat-card>
    <mat-card-content>
      <form [formGroup]="promoteStudentFormGroup">
        <div class="row">
          <div class="col-md-2 col-6">
            <ng-select placeholder="Session" formControlName="academic_session_id" appearance="outline" >
              <ng-container *ngFor="let server of acadmcSesnList">
                <ng-option [value]="server.academic_session_id">{{ server.academic_session_name_e }}</ng-option>
              </ng-container>
            </ng-select>
          </div>
       
          <div class="col-md-3 col-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Degree Programme</mat-label>
              <mat-select placeholder="Degree Programme" formControlName="degree_programme_id">
                <mat-option *ngFor="let server of degreeProgramme" [value]="server.degree_programme_id">
                  {{ server.degree_programme_name_e }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
            <div class="col-md-3 col-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Dean Committee</mat-label>
              <mat-select placeholder="Dean Committee" formControlName="dean_committee_id">
                <mat-option *ngFor="let server of getDeanCommiteeList" [value]="server.dean_committee_id">
                  {{ server.dean_committee_name_e }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-2 col-6">
                <mat-form-field appearance="outline" class="w-100">
                <mat-label>Semester</mat-label>
                <mat-select placeholder="Semester" formControlName="semester_id">
                  <mat-option *ngFor="let semester of semesterList" 
                           [value]="semester.semester_id">
                    {{ semester?.semester_name_e }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
          </div>
            <div class="col-md-2 col-6">
                <mat-form-field appearance="outline" class="w-100">
                <mat-label>Year</mat-label>
                <mat-select placeholder="Year" formControlName="course_year_id">
                  <mat-option *ngFor="let semester of yearList" 
                           [value]="semester.course_year_id">
                    {{ semester?.course_year_name_e }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
          </div>
        </div>
          <div class="row mt-4 g-2">
                    <div class="col-12 col-sm-4 col-md-2">
                        <button class="btn btn-primary w-100" type="button" (click)="getStudentList()">Get Student</button>
                    </div>
                </div>

              
     <div class="row mt-3">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>#</th>
              <th>College Name</th>
              <th>Degree Programme</th>
               <th>Dean Committee</th>
              <th>Student Id</th>
              <th>Promoted Status</th>
              <th>Is Required</th>
            </tr>
          </thead>
    
          <tbody >
            <tr *ngFor="let item of studentList; let i = index " >
              <td>{{i+1}}</td>
              <td>{{item.college_name_e}}</td>
              <td>{{item.ue_id}}</td>
              <td>{{item.degree_programme_name_e}}</td>
              <td>{{item.dean_committee_name_e}}</td>
              <td>{{item.promoted_status}}</td>
              <td>{{item.Final_Status}}</td>
              
            </tr>
          </tbody>
        </table>
      </div>
      </form>
    </mat-card-content>
</mat-card> 