.page-title {
    color: rgb(3, 101, 69);
}

.active-button {
    background-color: #3f51b5 !important;
    color: white !important;
}

.inactive-button {
    background-color: #e0e0e0 !important;
    color: black !important;
}