<div style="display: flex;justify-content: center;flex-direction: column;height: 100%;width: 70%;"
     class="mx-auto auth_c">
  <div class="auth-page__group">
    <div class="col-md-12 text-center">
      <img class="auth-page__logo_main-img" src="igkv_logo.png" alt="logo" width="30%">
    </div>
    <h4 class="auth-page__group-title" style="font-size: 18px;line-height: 1.5">
      <b>{{ user?.type_name }} - {{ user?.name }} पासवर्ड बदलें</b>
    </h4>
    <!--    <h5 class="login-mobile-content text-center">फार्मगेट लॉगिन</h5>-->
    <div class="auth-page__border-wrapper">
      <div class="auth-page__border-line"></div>
      <p class="auth-page__border-title">***</p>
      <div class="auth-page__border-line"></div>
    </div>
    <form [formGroup]="psswordResetForm" (ngSubmit)="resetPassword()">
      <div class="mb-3">
        <mat-form-field appearance="outline" class="form__input w-100">
          <mat-label>यूजर आई. डी.</mat-label>
          <input matInput placeholder="यूजर आई. डी." formControlName="user_id" readonly="true">
        </mat-form-field>
      </div>
      <div class="mb-3">
        <mat-form-field appearance="outline" class="form__input w-100">
          <mat-label>नया पासवर्ड</mat-label>
          <input matInput
                 placeholder="नया  पासवर्ड" formControlName="password" autocomplete="password"
                 type="{{ showPassword ? 'text' : 'password' }}">
          <mat-icon matSuffix [hidden]="showPassword"
                    (click)="togglePasswordVisibility()">visibility_off
          </mat-icon>
          <mat-icon matSuffix [hidden]="!showPassword"
                    (click)="togglePasswordVisibility()">visibility
          </mat-icon>
        </mat-form-field>
      </div>
      <div class="mb-3">
        <mat-form-field appearance="outline" class="form__input w-100">
          <mat-label>कन्फर्म पासवर्ड</mat-label>
          <input matInput autocomplete="password"
                 placeholder=" कन्फर्म पासवर्ड " formControlName="cpassword" type="password">
        </mat-form-field>
        <mat-error
          *ngIf="control('cpassword').invalid  && (control('cpassword').dirty || control('cpassword').touched)">
          पासवर्ड
          गलत है |
        </mat-error>
        <mat-error>
          <div class="password-strength mt-2">
            <div
              [ngClass]="{'text-success': !control('password').errors?.length, 'text-danger': control('password').errors?.length}">
              <ng-container *ngIf="!control('password').errors?.length">
                <mat-icon>check_circle</mat-icon>
              </ng-container>
              <ng-container *ngIf="control('password').errors?.length">
                <mat-icon>cancel</mat-icon>
              </ng-container>
              <span> Minimum 8 characters, Maximum 15 characters</span>
            </div>
            <div
              [ngClass]="{'text-success': !control('password').errors?.number, 'text-danger': control('password').errors?.number}">
              <ng-container *ngIf="!control('password').errors?.number">
                <mat-icon>check_circle</mat-icon>
              </ng-container>
              <ng-container *ngIf="control('password').errors?.number">
                <mat-icon>cancel</mat-icon>
              </ng-container>
              <span> At least one Number</span>
            </div>
            <div
              [ngClass]="{'text-success': !control('password').errors?.upper, 'text-danger': control('password').errors?.upper}">
              <ng-container *ngIf="!control('password').errors?.upper">
                <mat-icon>check_circle</mat-icon>
              </ng-container>
              <ng-container *ngIf="control('password').errors?.upper">
                <mat-icon>cancel</mat-icon>
              </ng-container>
              <span> At least one uppercase letter</span>
            </div>
            <div
              [ngClass]="{'text-success': !control('password').errors?.lower, 'text-danger': control('password').errors?.lower}">
              <ng-container *ngIf="!control('password').errors?.lower">
                <mat-icon>check_circle</mat-icon>
              </ng-container>
              <ng-container *ngIf="control('password').errors?.lower">
                <mat-icon>cancel</mat-icon>
              </ng-container>
              <span> At least one lowercase letter</span>
            </div>
            <div
              [ngClass]="{'text-success': !control('password').errors?.symbol, 'text-danger': control('password').errors?.symbol}">
              <ng-container *ngIf="!control('password').errors?.symbol">
                <mat-icon>check_circle</mat-icon>
              </ng-container>
              <ng-container *ngIf="control('password').errors?.symbol">
                <mat-icon>cancel</mat-icon>
              </ng-container>
              <span> At least one symbol (Allowed Symbol !&#64;#$%^&*_.)</span>
            </div>
          </div>
        </mat-error>
      </div>
      <div>
        <button class="form-actions__login col-12 mt-3" mat-raised-button color="primary"
                type="submit">पासवर्ड बदलें
        </button>
        <button mat-button style="color: blue;" (click)="logout()">Back To Login</button>
      </div>
    </form>
  </div>
  <p class="auth-page__footer-title text-center m-2">
    <strong>Disclaimer</strong>
    <br/>©2024-{{ todayDate | date: 'y' }} | Govt. of Chhattisgarh
    <br/>Designed, Developed And Hosted By <a href="https://chhattisgarh.nic.in/"> National Informatics Centre,
    Chhattisgarh.</a>
  </p>
</div>
