<section class="container-fluid">
  <mat-card class="basic-details-card">
    <mat-card-content>
      <div class="card-header-custom">
        <mat-card-title>Registration Card</mat-card-title>
      </div>
      <div class="table-responsive mt-3 mb-1" *ngIf="stdRegistrationList.length > 0">
        <app-reporttable [options]="tableOptions" class="table table-bordered custom-striped">
          <ng-template #headerTemplate>
            <tr>
              <th>S.No.</th>
              <th>Session</th>
              <th>Year</th>
              <th>Semester</th>
              <th>Academic Standing</th>
              <th>Registration Status</th>
              <th>Download</th>
            </tr>
          </ng-template>
          <ng-template #rowTemplate let-row let-i="index">
            <tr>
              <td>{{i+1}}</td>
              <td>{{ row?.academic_session_name_e }}</td>
              <td>{{ row?.course_year_name_e }}</td>
              <td>{{ row?.semester_name_e }}</td>
              <td>{{ row?.stu_study_status_name_e }}</td>
              <td>{{ row.registration_status_name_e }}</td>
              <td class="icon-td">
                <mat-icon class="clickable-icon" (click)="getRegistrationCard(row)" title="Download">
                  cloud_download
                </mat-icon>
              </td>
            </tr>
          </ng-template>
        </app-reporttable>
      </div>
    </mat-card-content>
  </mat-card>

</section>