<mat-card>
  <mat-card-content>
    <div class="d-flex justify-content-between align-items-center">
      <h4 class="mb-0">Allotted Course</h4>
      <button mat-icon-button (click)="closeDialog()" aria-label="Close">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <app-courseallot-dashboard [data]="currentData"></app-courseallot-dashboard>
    <!-- <div class="p-3">
      <h3>Total Students: {{ studentTotalCount }}</h3>

      <mat-radio-group aria-label="Select an option" (change)="onDivisionChange($event.value)">
        <mat-radio-button [value]="2">Divide into 2 Sections</mat-radio-button>
        <mat-radio-button [value]="3">Divide into 3 Sections</mat-radio-button>
      </mat-radio-group>
      <div *ngIf="divisionResult?.length > 0" class="mt-3">
        <h6>Division Result:</h6>
        <table class="table table-bordered table-striped">
          <thead class="table-light">
            <tr>
              <th>Group</th>
              <th>Total Students</th>
              <th>Programmes</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let group of divisionResult; let i = index">
              <td>Group {{ i + 1 }}</td>
              <td>{{ group.total_students }}</td>
              <td>
                <ul class="mb-0">
                  <li *ngFor="let name of group.programme_names">{{ name }}</li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div> -->

    <fieldset *ngIf="showSectionAllotment" class="mt-3" style="border: 1px solid #ccc; border-radius: 6px; padding: 15px;">
  <legend style="font-weight: bold;">Student Section Allotment</legend>
  <div class="p-3">
    <h3>Total Students: {{ studentTotalCount }}</h3>
    <mat-radio-group aria-label="Select an option" [value]="divisionParts" (change)="onDivisionChange($event.value)">
      <mat-radio-button [value]="2">Divide into 2 Sections</mat-radio-button>
      <mat-radio-button [value]="3">Divide into 3 Sections</mat-radio-button>
    </mat-radio-group>
    <div *ngIf="divisionResult?.length > 0" class="mt-3">
      <h6>Division Result:</h6>
      <table class="table table-bordered table-striped">
        <thead class="table-light">
          <tr>
            <th>Group</th>
            <th>Total Students</th>
            <th>Programmes</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let group of divisionResult; let i = index">
            <td>Group {{ i + 1 }}</td>
            <td>{{ group.total_students }}</td>
            <td>
              <ul class="mb-0">
                <li *ngFor="let name of group.programme_names">{{ name }}</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="d-flex justify-content-end mt-3">
    <button mat-raised-button color="primary" (click)="SubmitStudentSection()"> Submit Student Section
    </button>
  </div>

</fieldset>

  <fieldset class="mt-3" style="border: 1px solid #ccc; border-radius: 6px; padding: 15px;">
  <legend style="font-weight: bold;">Teacher Section Allotment</legend>
    <div class="mt-3" style="max-height: 65vh; overflow-y: auto">
      <form [formGroup]="teacherSectionForm" (ngSubmit)="onSubmit()">
        <div formArrayName="teachers">
          <table class="table table-bordered">
            <thead class="table-light sticky-top">
              <tr>
                <th>#</th>
                <th>Course</th>
                <th>Teacher</th>
                <th>Section</th>
                <th>Allot Student</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let teacherCtrl of teachers.controls; let i = index" [formGroupName]="i">
                <td>{{ i + 1 }}</td>
                <td>{{ teacherCtrl.value.course_name }}</td>
                <td>{{ teacherCtrl.value.emp_name }}</td>
                <td>
                  <select class="form-select" formControlName="section_id">
                    <option value="">Select Section</option>
                    <option *ngFor="let s of sections" [value]="s.section_id">
                      {{ s.section_name }}
                    </option>
                  </select>
                </td>
             <td>
              <button 
                type="button" 
                mat-icon-button 
                (click)="onCourseSelect(teacherCtrl.value.allotment_detail_id)">
                <mat-icon>grid_view</mat-icon>
              </button>
            </td>
              </tr>

            </tbody>
          </table>
        </div>

        <div class="d-flex justify-content-end mt-3">
          <button mat-raised-button color="primary" type="submit">
            Submit Teacher Section
          </button>
        </div>
      </form>
    </div>
  </fieldset>


    <!-- <div class="mt-3" style="max-height: 65vh; overflow-y: auto">
      <form [formGroup]="teacherSectionForm" (ngSubmit)="onSubmit()">
        <div formArrayName="teachers">
          <table class="table table-bordered">
            <thead class="table-light sticky-top">
              <tr>
                <th>#</th>
                <th>Teachers</th>
                <th>Section</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let teacherCtrl of teachers.controls; let i = index" [formGroupName]="i">
                <td>{{ i + 1 }}</td>
                <td style="text-align: left;">
                  <ul class="mb-0">
                    <li>{{ teacherCtrl.get('emp_name')?.value }}</li>
                  </ul>
                </td>
                <td>
                  <select class="form-select" formControlName="section_id">
                    <option value="">Select Section</option>
                    <option *ngFor="let s of sections" [value]="s.section_id">
                      {{ s.section_name }}
                    </option>
                  </select>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="d-flex justify-content-end mt-3">
          <button mat-raised-button color="primary" type="submit" [disabled]="teacherSectionForm.invalid">
            Submit
          </button>
        </div>
      </form>
    </div> -->
  </mat-card-content>
</mat-card>