/* login.component.scss */
.login-card {
width: 380px;
border-radius: 12px;
}


.captcha-box {
background: #c7b9cd;
color: #fff;
padding: 8px 14px;
border-radius: 6px;
font-weight: bold;
letter-spacing: 2px;
}


button[color="primary"] {
background-color: #7b1fa2 !important; /* purple */
}