<mat-card>
    <mat-card-content>
        <h3 class="fw-bold mb-6 page-title">Student Address Correction Requests</h3>
        <div *ngIf="dashboardListOptions?.dataSource?.length > 0" class="mt-3 mb-3">
            <app-reporttable [options]="dashboardListOptions">
                <ng-template #headerTemplate>
                    <tr>
                        <th>S.No.</th>
                        <th>Degree Programme</th>
                        <th>Total</th>
                        <th>Correction Pending</th>
                        <th>Correction Done</th>
                        <th>Rejected</th>
                    </tr>
                </ng-template>
                <ng-template #rowTemplate let-row let-i="index">
                    <tr>
                        <td>{{i+1}}</td>
                        <td>{{ row.degree_programme_type_name_e }}</td>
                        <td>
                            {{ row.total }}
                        </td>
                        <td
                            [ngClass]="{'bg-green': 'pending' === actionType && selectedRowId === row.degree_programme_type_id}">
                            <span class="click-row" (click)="getStudentListForAddressChangeData(row, 'pending')">
                                <span class="click-row-btn bg-primary">{{ row.pending }}</span>
                                click
                            </span>
                        </td>
                        <td
                            [ngClass]="{'bg-green': 'done' === actionType && selectedRowId === row.degree_programme_type_id}">
                            <span class="click-row" (click)="getStudentListForAddressChangeData(row, 'done')">
                                <span class="click-row-btn bg-success">{{ row.done }}</span>
                                click
                            </span>
                        </td>
                        <td
                            [ngClass]="{'bg-green': 'rejected' === actionType && selectedRowId === row.degree_programme_type_id}">
                            <span class="click-row" (click)="getStudentListForAddressChangeData(row, 'rejected')">
                                <span class="click-row-btn bg-secondary">{{ row.rejected }}</span>
                                click
                            </span>
                        </td>
                    </tr>
                </ng-template>
            </app-reporttable>
        </div>

        <div *ngIf="studentsListOptions?.dataSource?.length > 0" class="mt-3 mb-3">
            <app-reporttable [options]="studentsListOptions">
                <ng-template #headerTemplate>
                    <tr>
                        <th>S.No.</th>
                        <th>Registration Id</th>
                        <th>Student Id /UE Id</th>
                        <th>Student Name</th>
                        <th>College</th>
                        <th>Degree Programme</th>
                        <th>Year</th>
                        <th>Semester</th>
                        <th>Correction Applied Date</th>
                        <th>Address Proof</th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template #rowTemplate let-row let-i="index">
                    <tr>
                        <td [ngClass]="{'bg-green': row.ue_id === selectedStudentUEId}">{{i+1}}</td>
                        <td [ngClass]="{'bg-green': row.ue_id === selectedStudentUEId}">{{ row.ue_id }}</td>
                        <td [ngClass]="{'bg-green': row.ue_id === selectedStudentUEId}">{{ row.student_id }}</td>
                        <td [ngClass]="{'bg-green': row.ue_id === selectedStudentUEId}">
                            {{row.studentname?.toUpperCase()}}</td>
                        <td [ngClass]="{'bg-green': row.ue_id === selectedStudentUEId}">{{row.college_name_e}}</td>
                        <td [ngClass]="{'bg-green': row.ue_id === selectedStudentUEId}">{{row.degree_programme_name_e}}
                        </td>
                        <td [ngClass]="{'bg-green': row.ue_id === selectedStudentUEId}">{{row.course_year_name_e}}</td>
                        <td [ngClass]="{'bg-green': row.ue_id === selectedStudentUEId}">{{row.semester_name_e}}</td>
                        <td [ngClass]="{'bg-green': row.ue_id === selectedStudentUEId}">{{row.correction_applied_date |
                            date:'dd/MM/yyyy'}}</td>
                        <td [ngClass]="{'bg-green': row.ue_id === selectedStudentUEId}">
                            <a href="http://igkv.ac.in/{{row.address_proof}}" target="_blank" class="view-proof">
                                <mat-icon class="text-danger">picture_as_pdf</mat-icon>
                                View Proof
                            </a>
                        </td>
                        <td [ngClass]="{'bg-green': row.ue_id === selectedStudentUEId}">
                            <span class="text-info cursor-pointer"
                                (click)="getStudentProfileAddressDetailsData(row)">Select</span>
                        </td>
                    </tr>
                </ng-template>
            </app-reporttable>
        </div>

        <div #addressDetailsBlock *ngIf="studentAddressDetailOptions?.dataSource?.length > 0" class="mt-3 mb-3">
            <form [formGroup]="addressChangeDetailsForm">
                <div formArrayName="addressCorrections">
                    <app-reporttable [options]="studentAddressDetailOptions">
                        <ng-template #headerTemplate>
                            <tr>
                                <th>Feild Name</th>
                                <th>As per Admission Record</th>
                                <th>Correction Suggested by Student</th>
                                <th>Correction Required</th>
                            </tr>
                        </ng-template>
                        <ng-template #rowTemplate let-row let-i="index">
                            <tr [formGroupName]="i">
                                <td>{{ toCapitalEachWord(row.title) }}</td>
                                <td style="text-align: start !important;">
                                    <p style="padding: 0; margin: 0">{{ row.actual_address?.toUpperCase() }}</p>
                                    <p style="padding: 0; margin: 0">{{row.actual_state_dis_pin?.toUpperCase()}}</p>
                                    <p style="padding: 0; margin: 0">{{row.actual_country?.toUpperCase()}}</p>
                                </td>
                                <td style="text-align: start !important;">
                                    <p style="padding: 0; margin: 0">{{row.correctionrequired_address?.toUpperCase()}}
                                    </p>
                                    <p style="padding: 0; margin: 0">{{row.state_dis_pin?.toUpperCase()}}</p>
                                    <p style="padding: 0; margin: 0">{{row.country?.toUpperCase()}}</p>
                                </td>
                                <td>
                                    <select class="form-select" formControlName="correction_status">
                                        <option value="1">Correction Required</option>
                                        <option value="2">Correction Not Required</option>
                                    </select>
                                </td>
                            </tr>
                        </ng-template>
                    </app-reporttable>
                    <div class="d-flex justify-content-center gap-3">
                        <button class="btn btn-success mt-3"
                            (click)="onUpdateStudentProfileAddressDetails(studentAddressDetailOptions.dataSource, 'approve')">
                            Approve & Update
                        </button>
                        <button class="btn btn-danger mt-3"
                            (click)="onUpdateStudentProfileAddressDetails(studentAddressDetailOptions.dataSource, 'reject')">
                            Reject
                        </button>
                    </div>
                </div>
            </form>
        </div>

    </mat-card-content>
</mat-card>