<!-- <mat-sidenav-container>
  <mat-sidenav #sidebar class="sidenav" fixedInViewport
  [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
  [mode]="(isHandset$ | async) ? 'push' : 'side'"
  [opened]="(isHandset$ | async) === false">
        <mat-nav-list>
            <div class="user">
              <img  class="profile_img" src="dummy.jpg" alt="admin logo" />
              <p>
                <span class="name"></span><br>
                <span claas="mail"></span>
              </p>
            </div>
            <mat-divider></mat-divider>
            <div class="menu-head">
              <span>
              <h6 class="dash" ><a mat-list-item routerLink="content"><mat-icon class="design_icon">dashboard</mat-icon>Dashboard</a></h6>
              </span>
            </div>
            <mat-nav-list>
             
              <a mat-list-item routerLink="profile-view"><mat-icon class="design_icon">manage_accounts</mat-icon> My Profile</a>
                <a mat-list-item routerLink="my-work"><mat-icon class="design_icon">smartphone</mat-icon> My Projects</a>
               
              </mat-nav-list>
          </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        
            <div class="toolbar sticky-top nav ">
              <mat-toolbar style="background-image: linear-gradient(90deg, #e1edee 0%, #d0dce2 74%);" class="toolbar sticky-top nav ">
                <mat-icon (click)="sidebar.toggle()">menu</mat-icon>

                  <div class="box ">
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item ><mat-icon>person</mat-icon></button>
                        <button mat-button >
                          <mat-icon>exit_to_app</mat-icon>
                          Logout
                        </button>
                      </mat-menu>
                </div>
         
            </mat-toolbar>
            </div>
            <div class="main">
                <router-outlet></router-outlet>
            </div>
        
    </mat-sidenav-content>
</mat-sidenav-container> -->
<!-- layout.component.html -->
<mat-sidenav-container>
  <mat-sidenav #sidebar class="sidenav" fixedInViewport
  [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
  [mode]="(isHandset$ | async) ? 'push' : 'side'"
  [opened]="(isHandset$ | async) === false">
        <mat-nav-list>
            <div class="user">
              <img  class="profile_img" src="dummy.jpg" alt="admin logo" />
              <p>
                <span class="name"></span><br>
                <span class="mail"></span>
              </p>
            </div>
            <mat-divider></mat-divider>
            
            <!-- Dynamic Menu Items with Dropdowns -->
            <div *ngFor="let menu of menuItems; let i = index" class="menu-section">
              <a mat-list-item class="menu-item" (click)="toggleMenu(i)">
                <mat-icon class="chevron-icon" [class.expanded]="menu.expanded">
                  chevron_right
                </mat-icon>
                <span class="menu-label">{{menu.label}}</span>
                <!-- <mat-icon class="dropdown-arrow " [class.expanded]="menu.expanded">
                  keyboard_arrow_down
                </mat-icon> -->
              </a>

              <!-- Dropdown Content -->
              <div class="dropdown-content" [class.show]="menu.expanded">
                <div class="sub-menu">
                  <a *ngFor="let child of menu.children" 
                     [routerLink]="child.route"
                     class="sub-menu-item"
                     routerLinkActive="active-child">
                    <mat-icon class="child-arrow">chevron_right</mat-icon>
                    <span>{{child.label}}</span>
                  </a>
                </div>
              </div>
            </div>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <div class="toolbar sticky-top nav">
          <mat-toolbar style="background-image: linear-gradient(90deg, #e1edee 0%, #d0dce2 74%);" class="toolbar sticky-top nav">
            <mat-icon (click)="sidebar.toggle()">menu</mat-icon>

              <div class="box">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item><mat-icon>person</mat-icon></button>
                    <button mat-button>
                      <mat-icon>exit_to_app</mat-icon>
                      Logout
                    </button>
                  </mat-menu>
            </div>
        </mat-toolbar>
        </div>
        <div class="main">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

