.info-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
  }
  
  .info-label,
  .info-value {
    min-width: 150px;
  }
  .info-value {
    font-weight: normal;
  }
  
  .a-btn.link-type,
  button.a-btn.link-type {
    background: none;
    border: none;
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
    padding: 0;
    font-size: inherit;
  }
  
  button.a-btn.link-type:disabled {
    color: gray;
    text-decoration: none;
    cursor: not-allowed;
  }

  // allotment status styles
  .text-success {
    color: rgba(34, 172, 34, 0.922);
    font-weight: bold;
    font-size: 14px;
  }
  .text-danger {
    color: red;
    font-weight: bold;
    font-size: 14px;
  }

  table tbody tr td{
        text-align: left !important;
  }
//  highlisht the slected rows
/* course-table.component.css */
.highlight-row {
  background-color: #d1ecf1 !important; /* light blue highlight */
}

// table styles
.tables{
  padding: 11px;
  //  padding-left: ;
  caption-side: bottom;
  border-collapse: collapse;
  text-align: center !important;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border: groove 1px #ddd;
}

.imp{
  padding: 8px;
}

a:hover {
 color: rgb(41, 109, 204);

  font-size: 14px;
}

// disable 
.disabled-row {
  opacity: 0.5;             /* make it look greyed out */
  pointer-events: none;     /* disable clicks on the row & its children */
  background-color: #e0e0e0; /* light grey background (optional) */
}
